.why {
  background-color: $fon;
  padding: 50px 0px;
  margin-bottom: 0;
  &__container {
  }

  &__title {
    font-size: 43.2px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    @media (max-width: $mobile) {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 70px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
  }

  &__item {
  }

  &__images {
    border-radius: 10px;
    margin-bottom: 15px;
    div {
      overflow: hidden;
      // border-radius: 10px;
      @media (max-width: $mobile) {
        text-align: center;
      }
    }
    img {
      width: 100%;

      transition: all 0.5s;
      @media (max-width: $mobile) {
        width: 80%;
        text-align: center;
      }
    }
  }

  &__name {
    text-align: center;
    font-size: 22px;
    font-weight: $bold;
    margin-bottom: 15px;
    color: $main;
  }

  &__text {
    text-align: center;
    font-size: 15px;
    line-height: 120%;
  }
}
